#search-form .umb-modalcolumn-header{background-color: #2e8aea;}
/*#tree.umb-modalcolumn-body{background-color: red;}*/
#contentwrapper .umb-panel-header{background-color: yellow;}
.umb-actions .action a:hover{background-color: #53a93f !important;}