@*
    Base Site layout. Make this inherit from your base template
*@

@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_uBlogsyBase.cshtml";
}

@section uBlogsyMain
{
    <!doctype html public "-//w3c//dtd xhtml 1.0 transitional//en" "http://www.w3.org/tr/xhtml1/dtd/xhtml1-transitional.dtd">
    <html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" dir="ltr">
        <head>
            <title>My Site</title>          
            @RenderSection("uBlogsyHead")
        </head>
        <body>
           
            @*top navigation*@
            @Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalHeader", Model, 60, true)
                
            @*top navigation*@
            @Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalNavigation", Model, 60, true)
            
                    
            @RenderSection("uBlogsyMain")
            
        </body>
    </html>
}