﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<link href="/css/uCommentsy.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js")"></script>
<script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js")"></script>

<a href="/">home page</a>


Text page
    @Html.Partial("uCommentsy/uCommentsyShowLinkToComments", new ViewDataDictionary(ViewData) { { "ItemLimit", -1 } })
<hr />	

    @*list comments - install uCommentsy, then uncomment this line*@
    @Html.Partial("uCommentsy/uCommentsyListComments", new ViewDataDictionary(ViewData) { { "ItemLimit", -1 } })
    

    

    @*render contact form - install uCommentsy, then uncomment this line**@
    @Html.Action("Index", "uCommentsyContactFormSurface", new { CurrentPage })