﻿@{
    /* LISTS ALL RECENT COMMENTS */
}
@using System.Linq
@using uCommentsy.BusinessLogic.Factories
@using uCommentsy.BusinessLogic.Services
@using Umbraco.Core.Models
@using Umbraco.Web
@using uCommentsy.BusinessLogic.Helpers
@using uHelpsy.Extensions

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    // get item count
    var itemLimit = (int)ViewData["ItemLimit"];
    if (itemLimit == -1) { itemLimit = int.MaxValue; }

    // get all comments
    var comments = _commentService.GetComments(Model.Content, true).Take(itemLimit).ToIPublishedContent(true).ToList();

    if (!comments.Any()) { return; }

    @* It is better to put these scripts in your header *@
    @RenderScripts()

    @RenderForWidget(comments)
}


@* It is better to put these scripts in your header *@
@helper RenderScripts()
    {
    <link href="~/css/uCommentsy.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js")"></script>
    <script src="@Url.Content("http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js")"></script>
}



@helper RenderForWidget(IEnumerable<IPublishedContent> comments)
{
    // list comments in right panel
    <section id="uCommentsy_widget" class="uCommentsy_comments_container uCommentsy_bottom_border">
        <h2>
            @Umbraco.GetDictionaryValue("uCommentsyDicCommentsLatest")</h2>
        <ul>
            @foreach (var c in comments)
            {
                var url = _commentService.GetCommentUrl(c, true);
                
                <li>
                    <a href="@url" title="Comment by @c.GetPropertyValue("uCommentsyCommentName") on @c.Parent.Parent.Name">
                    <img src="@GravatarHelper.GetUrl(c.GetPropertyValue<string>("uCommentsyCommentEmail"), 20)" class="uCommentsy_gravatar_small"/> By <span>@c.GetPropertyValue("uCommentsyCommentName")</span> on <span>@c.Parent.Parent.Name</span></a>
                </li>
            }
        </ul>
    </section>
}


@functions {
    readonly ICommentService _commentService = ServiceFactory.CreateCommentService();
}
