﻿@*
    Lists tags for a post. Gets called from /Landing/uBlogsyLandingShowPost.cshtml and /Post/uBlogsyPostShowPost.cshtml
*@

@using System.Linq
@using uBlogsy.Common.Helpers
@using uBlogsy.BusinessLogic
@using uHelpsy.Helpers
@inherits UmbracoTemplatePage
@{
    // get tags for this post
    var tags = PostService.Instance.GetTags((IPublishedContent)ViewData["Node"], false).Select(x => x.Key);

    // display tags
    if (tags.Any())
    {
        <h5 class="uBlogsy_font_style40">@Umbraco.GetDictionaryValue("uBlogsyDicTags")</h5> 
    }
    
    // get landing page
    var landing = DataService.Instance.GetLanding(Model.Content);
    @RenderForPost(landing, tags)
}





@helper RenderForPost(IPublishedContent landing, IEnumerable<string> tags)
{
    //list tags
    <ul class="uBlogsy_tags uBlogsy_font_style50">
        @foreach (var t in tags)
        {
            if (!string.IsNullOrEmpty(t.Trim()))
            {
                <li><a href="@landing.Url()?tag=@Server.UrlEncode(t)" title="@t">@t</a></li>
            }
        }
    </ul>
}
