﻿@{
        /* LISTS ALL RECENT COMMENTS */
}
@using System.Linq
@using uCommentsy.BusinessLogic.Factories
@using uCommentsy.BusinessLogic.Services
@using Umbraco.Core.Models
@using uCommentsy.BusinessLogic
@using uHelpsy.Extensions

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var model = ViewData.ContainsKey("Node") ? (IPublishedContent)ViewData["Node"] : Model.Content;

    var comments = _commentService.GetComments(model, false).ToList().ToIPublishedContent(true).ToList();

    @RenderForMain(comments)
}





@helper RenderForMain(List<IPublishedContent> comments)
{
    @*list comments*@
    if (!comments.Any())
    {
        <span>0  @Umbraco.GetDictionaryValue("uCommentsyDicComments")</span>
    }
    else
    {
        var commentUrl = _commentService.GetCommentUrl(comments.First(), true);
        <a href="@commentUrl" title="Comments">@comments.Count() @Umbraco.GetDictionaryValue("uCommentsyDicComments")</a>
    }
}

@functions {
    readonly ICommentService _commentService = ServiceFactory.CreateCommentService();
}
